name: Build Apk

on:
  repository_dispatch:
  workflow_dispatch:
  push:

permissions:
  contents: write

env:
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E apt-get -qq update
        sudo -E apt-get -qq upgrade
        sudo -E apt-get install -y ant autoconf automake ccache cmake g++ gcc git lbzip2 libffi-dev libltdl-dev libtool libssl-dev make openjdk-17-jdk patch pkg-config python3 python3-dev python3-pip python3-venv python3-setuptools sudo unzip wget zip
        sudo -E apt-get -qq clean
        sudo timedatectl set-timezone "$TZ"

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'oracle'
        java-version: '17'

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: Install python-for-android
      run: |
        pip install git+https://github.com/kivy/python-for-android.git
        pip install setuptools

    - name: Download SDK and NDK
      run: |
        wget -q https://googledownloads.cn/android/repository/commandlinetools-linux-13114758_latest.zip
        wget -q https://dl.google.com/android/repository/android-ndk-r25c-linux.zip
        unzip -q commandlinetools-linux-13114758_latest.zip
        export ANDROIDSDK="./cmdline-tools/"
        export ANDROIDNDK="./android-ndk-r25c"

    - name: Compile
      run:  |
        p4a apk --requirements=python3,kivy,plyer,setuptools --private ./Tside --package=com.teachconnect --name "Teachconnect" --version 1.1 --bootstrap=sdl2 --icon ./Tside/img/TC-T.png --window --arch=arm64-v8a --permission android.permission.WRITE_EXTERNAL_STORAGE --permission android.permission.INTERNET

    - name: Upload apk directory
      uses: actions/upload-artifact@main
      with:
        name: teachconnent
        path: /home/runner/.local/share/python-for-android/dists/unnamed_dist_1/build/outputs/apk/debug/unnamed_dist_1-debug.apk

    - name: upload packages to release
      uses: softprops/action-gh-release@master
      env: 
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: 1.1
        name: release 1.1
        files: /home/runner/.local/share/python-for-android/dists/unnamed_dist_1/build/outputs/apk/debug/unnamed_dist_1-debug.apk
