#
# https://github.com/P3TERX/Actions-OpenWrt
#
# File: .github/workflows/openwrt-bulder.yml
# Description: Build OpenWrt using GitHub Actions
#
# Copyright (c) 2019-2024 P3TERX <https://p3terx.com>
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#

name: OpenWrt Builder

on:
  repository_dispatch:
  workflow_dispatch:
  push:

env:
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E apt-get -qq update
        sudo -E apt-get -qq upgrade
        sudo apt-get install -y ant autoconf automake ccache cmake g++ gcc git lbzip2 libffi-dev libltdl-dev libtool libssl-dev make openjdk-17-jdk patch pkg-config python3 python3-dev python3-pip python3-venv sudo unzip wget zip
        sudo -E apt-get -qq clean
        sudo timedatectl set-timezone "$TZ"

    - name: Install buildozer
      run: |
        pip3 install python-for-android

    - name: Download SDK and NDK
      run: |
        wget https://googledownloads.cn/android/repository/commandlinetools-linux-13114758_latest.zip
        wget https://googledownloads.cn/android/repository/android-ndk-r27d-linux.zip
        unzip commandlinetools-linux-13114758_latest.zip
        unzip android-ndk-r27d-linux.zip
        export ANDROIDSDK="./cmdline-tools/"
        export ANDROIDNDK="./android-ndk-r27d"
        ./cmdline-tools/bin/sdkmanager "platforms;android-33" "build-tools;33.0.2" "ndk;27.1.0"

    - name: compile
      run:  |
        p4a apk --requirements=python3,kivy --private . --package=com.teachconnent --name "Teachconnent" --version 1.0 --bootstrap=sdl2

    - name: Upload apk directory
      uses: actions/upload-artifact@main
      with:
        name: teachconnent
        path: bin/*
